.links-menu{
    margin-top: 15px;
    margin-left: 15px;
}

.top{
        margin-top: 15px;
}

body {
    color: #777;
}

.main{
    max-width: 700px;
    margin: 20px auto 0;
    padding:  0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu {
    margin-left: -150px;
    width: 150px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    background: #191818;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

#layout {
    padding-left: 150px;
    left: 0;
}

#menu {
    left: 150px;
}
