.listaDeProdutos {
    max-width: 700px;
    margin: 20px auto 0;
    padding:  0 20px;
}

.listaDeProdutos article{
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.listaDeProdutos article p{
    font-size: 16px;
    color: #999;
    margin-top: 5px;
    line-height: 24px;
}

.listaDeProdutos article a{
    height: 42px;
    border-radius: 5px;
    border: 2px solid #da552f;
    background: none;
    margin-top: 10px;
    color: #da552f;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none; 
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}

.listaDeProdutos article a:hover {
    background: #da552f;
    color: #fff;
}

.listaDeProdutos .actions{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.listaDeProdutos .actions button{
    padding: 10px;
    border-radius: 5px;
    border: 0px;
    background: #da552f;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}

.listaDeProdutos .actions button:hover{
    opacity: 0.7;
}

.listaDeProdutos .actions button[disabled]{
    opacity: 0.7;
    cursor: default;
}